In [5]:
import sqlite3
import pandas as pd

query = '''

SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;

'''

conn = sqlite3.connect("sqlite.db")
df = pd.read_sql(query, conn)
conn.close()

df

                   name
0             E_ArtLief
1   E_ArtLiefRabStaffel
2      E_ArtLiefStaffel
3           E_BelegKopf
4            E_BelegPos
5             E_WE_Kopf
6              E_WE_Pos
7         MA_Aktivitaet
8             ML_ArtOrt
9                ML_Ort
10               MS_SNR
11       MS_SNRReferenz
12  MS_SNRReferenz_M200
13           M_DispoBew
14           PP_Auftrag
15         P_StkProzess
16           P_StkZeile
17   S_ArtPreiseStaffel
18            S_Artikel
19         S_ArtikelBew
20              S_Kunde
21          S_Lieferant
22       S_Preiseinheit
23          V_BelegKopf
24      V_BelegPos_M200